*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}

:root{
    font-size: 62.5%;

    --color-base-blue-2: hsl(195, 46%, 40%);
    --color-base-blue-3: hsl(195, 91%, 25%);
    --color-base-white: hsl(0, 0%, 100%);

    --text-color: #121214;

    --text-base: 1.6rem;
    --text-sm: 0.875rem; 
}

html, body, input{
    font-size: var(--text-base);
    font-weight: 400;
    line-height: calc(160%);
    font-family: "Mulish", sans-serif;  
    color: var(--text-color);  
}

h1, h2{    
    font-size: 2.4rem;
    font-weight: bold;  
}

h3{
    font-size: 1.8rem;
    line-height: 100%;
}

p{
    font-size: 1.6rem;
    line-height: calc(160%);
}

body{
    background-color: var(--color-base-white);
}

/* .container{
    padding-inline: 1.2rem;
    max-width: calc(24rem + 1.2rem);
    margin-inline: auto;
} */

img{   
    width: 100%;        
    height: auto;
}

header{
    background-color: var(--color-base-blue-3);    
    padding:  1.2rem 2.8rem;    
    min-width: 38.2rem;
}

.header-container{    
    margin-inline: auto;   
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 2.6rem;
}

.header-container a{
    line-height: 0;
}

.header-container a img{
    height: 4.2rem;    
    width: 4.2rem;    
}

.input-field label{
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-field input{
    min-width: 18.7rem;    
    padding: 1.2rem 1.4rem;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    background-color: var(--color-base-blue-2);
    color: var(--color-base-white);
}

.input-field input::placeholder{
    color: var(--color-base-white);   
}

.avatar{
    height: 4.2rem;    
    width: 4.2rem;
    border-radius: 50%;
    object-fit: cover;
}

.icon{
    height: 4.0rem;
    width: 4.0rem;    
}

/* .scroll{
    overflow-y: scroll;
} */

.main-container{
    padding-inline: 2.2rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    min-width: 38.2rem;
}

.main-container h1{
    margin-top: 3.0rem;
}

.main-container p{
    margin-top: 3.0rem;
}

.main-container button{
   all: unset;
   transition: all 250ms;
}

.main-container button:hover{
    transform: scale(1.05);   
}

.aside-container{
    padding-inline: 2.2rem;    
    margin-top: 3.0rem;
}

.suggestion{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-top: 3.2rem;
}

.item-suggestion{
    display: grid;
    grid-template-columns: 15rem 1fr;
    gap: 1.6rem;    
}

.item-suggestion img{
    /* width: 15.0rem; */
    height: 8.4rem;    
}

.details{
    min-width: 17rem;
    max-width: 41rem;
}

.details p{
    margin-top: 1.5rem;
}

footer{ 
    margin-top: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.2rem;
    background-color: var(--color-base-blue-3); 
}

footer p{
    padding: 1.2rem 2.8rem;
    text-align: center;
    color: var(--color-base-white);
    font-weight: 500;    
}

@media (min-width: 43em){
    img{
        border-radius: 0.5rem;
    }
    #app{
        display: grid;
        grid-template-areas: "header header"
                             "main aside"
                             "footer footer";
        height: 100vh; 
        /* gap: 3.4rem;  */
        /* padding: 4.4rem 10.9rem;  */
        row-gap: 4.4rem;
        column-gap: 3.4rem;
        box-sizing: border-box;  
    }  
    
    .header-container, .main-container, .aside-container{
        /* margin-inline: initial; */
        /* padding-inline: initial; */
        max-width: initial;
        padding: initial;
        margin: initial;
    }

    .header-container form{
        flex: 1;       
    }

    .header-container form input{
        width: 100%;
    }

    .header-container{
        max-width: 150rem;
        margin-inline: auto;
    }   
   
    .main-container{
        max-width: 80.3rem; 
        margin-left: auto;
            
    }

    .aside-container{
        max-width: 38.4rem;
    }

    #app header{
        grid-area: header;    
    }    

    #app main{
        grid-area: main;
        padding-bottom: 7.2rem;
    }

    #app aside{
        grid-area: aside;
        padding-bottom: 7.2rem;
    }

    #app footer{ 
        grid-area: footer;        
        /* position: fixed; */
        /* bottom: 0; */
        width: 100%;  
    }

}

header{
    animation: fromTop 600ms 420ms backwards;
}

main, aside{
    animation: fromBottom 800ms 200ms backwards;
}

@keyframes fromTop {
    from{
        transform: translateY(-100%);
    }
}

@keyframes fromBottom {
    from{
        transform: translateY(100%);
    }
}